---

---

<nav class="flex bg-red-500 justify-between py-7 md:px-12 px-3">
  <div class="flex items-center"></div>
  <div class="flex items-center">
    <a
      href=""
      class="text-white dark:text-white text-lg md:text-xl font-bold mr-4"
    >
      Home
    </a>
    <a
      href=""
      class="text-white dark:text-white text-lg md:text-xl font-bold mr-4"
    >
      About
    </a>
    <a
      href=""
      class="text-white dark:text-white text-lg md:text-xl font-bold mr-4"
    >
      Contact
    </a>
    <a
      href=""
      class="text-white dark:text-white text-lg md:text-xl font-bold mr-4"
    >
    </a>
  </div>
</nav>
